.range-slider {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	overflow: hidden;

	border-radius: 10px;

	background-color: transparent;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	--bg-range-color: rgba(255, 255, 255, 0.05);
	--bg-value-color: rgba(255, 255, 255, 0.7);
}

.range-slider .slider-track {
	width: 100%;
}

.range-slider .slider-track-0 {
	background-color: var(--bg-value-color);
}

.range-slider .slider-track-1 {
	background-color: var(--bg-range-color);
}

.range-slider .slider-thumb {
	height: 12px;
	width: 100%;
	margin: 0 auto;
	margin-top: 4px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.range-slider .slider-thumb::after {
	content: '';
	display: block;
	border-radius: 3px;
	background-color: white;
	height: 4px;
	width: 3rem;
}
