.App {
	text-align: center;
	padding: 1rem;
}

input[type="text"] {
	display: block;
	width: 100%;
	padding: .55rem .75rem;
	margin-bottom: .75rem;
}

table {
	margin: 0 auto;
}

td, th {
	text-align: left;
	padding: .55rem;
}

tbody tr:nth-child(odd) {
	background: #222;
}

tbody tr:nth-child(even) {
	background: #333;
}

button {
	padding: .55rem .75rem;
	margin: 0 .35rem;
}
